

{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}

    <div class="">
        <div class="pt-3 px-md-5">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex align-items-center justify-content-center">
                            <div class=" mx-auto">
                                <a href="{% url 'home' %}" class="">

                                    <img style="max-height: 55px;" class='img' src="{% static 'img/images/Anahit-logo.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="login_page_wrapper py-3 ">
            <div class="container">
                <div class="text-center">  
					<h1 class="primary_head mb-3">{% trans "Password Reset" %}</h1>
				    {% if user.is_authenticated %}
				    {% include "account/snippets/already_logged_in.html" %}
				    {% endif %}				    
				    <p class="text_common text-grey mb-10">{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>

				</div>
			</div>
		</div>
    </div>


{% endblock %}







































