{% extends "base.html" %}
{% load static %}

{% block style %}

<style>
  .ps-6 {
    /* padding-left: 8rem !important;  */
    padding-left: 12% !important;
  }
</style>

{% endblock %}


{% block content %}


<div class="main-wrap">
  {% include 'includes/sidebar.html' %}
  <div class="right-bar">
    <!-- ======= Header ======= -->
    {% include 'includes/header.html' %}
    <!-- End Header -->
    <div class="blogs_wrapper top_section">
      <div class="container">
        <div class="pricing-headings mb-5">
          <h5 class="sub_head text-grey mb-4"><img src="{% static 'img/images/title-Line.png' %}" class="head_line">blog
          </h5>
          <h2 class="primary_head mb-3">Financial insights <br class="mobile_hide" />you can act on<span
              class="dot-bg">.</span></h2>
          <p class="p-left ps-0 ms-0 text-grey">Subscribe today to get the daily dose of financial insights and <br
              class="mobile_hide" />investment-related articles to your inbox. </p>
        </div>
        <div class="d-flex justify-content-between align-items-center mb-5">
          <div class="search_bar blog_search_bar">
            <input autocomplete="off" type="text" id="search-input" class="search_input" placeholder="Search Blogs...">
            <button class="search_btn"><img src="/static/img/images/search_icon.png"></button>
          </div>
          <ul class="nav nav-pills mb-3 align-items-center justify-content-end mt-md-0 mt-5" id="pills-tab"
                role="tablist">
            <li class="nav-item me-5" role="presentation">
              <button class="nav-link active switch_tab" id="blog-grid-tab" data-bs-toggle="pill"
                data-bs-target="#blog-grid-view" type="button" role="tab" aria-controls="pills-profile"
                aria-selected="false">
                <img src="{% static 'img/images/cards_icon.png' %}" class="not-active">
                <img src="{% static 'img/images/active_cards.png' %}" class="active_img">
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link switch_tab" id="blog-list-tab" data-bs-toggle="pill"
                data-bs-target="#blog-list-view" type="button" role="tab" aria-controls="pills-home"
                aria-selected="true">
                <img src="{% static 'img/images/list_icon.png' %}" class="not-active">
                <img src="{% static 'img/images/active_list.png' %}" class="active_img">
              </button>
            </li>
          </ul>
        </div>
        
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="blog-grid-view" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
            {% if all_tags %}
            <ul class="tags_list ps-0 mt-4">
              {% for tag in all_tags %}
              <li class="tag_item my-2"><a href="?tags={{tag.name}}">{{tag.name}}</a></li>
              {% endfor %}
            </ul>
            {% endif %}
            <div class="row" id="blog-content-section">
              {% for post in queryset %}
              <div class="col-md-6 col-lg-5 col-sm-12">
                <a href="{% url 'blog_view' blog_slug=post.slug %}">
                  <div class="service-cards post-right mt-5">
                    <img class="service-cards-img"
                      src="{% if post.thumbnail %}{{post.thumbnail.url}} {% else %} {% static 'img/images/gradientoverlay.png' %} {% endif %}">
                    <!-- <div class="our-service-buttons">
                          <button class="button-ist-servive" type="button">Portfolio</button>
                          <button class="button-ist-servive ms-2" type="button">Business</button>
                        </div>   -->
                    <div class="content-right big service_card_overlay">
                      <h6>{% for tag in post.tags.all %}
                        <span class="cate_badge ms-0 me-2 d-inline-block mb-2">{{tag.name}}</span>
                        {% endfor %}
                        <span class="blog_publish">{{post.created_at}}</span>
                      </h6>
                      <h3 class="text_dotted post_right_content color-w">{{post.subtitle}}</h3>
                    </div>

                  </div>
                </a>
              </div>
              {% endfor %}
              <button class="primary_btn subscribe_btn desk-hide border-0">View More</button>
              <!-- card-2 -->
              <!-- <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="service-cards post-right mt-5">
                      <img class="service-cards-img" src="{% static '/img/images/post_img2.png' %}">
                      <div class="our-service-buttons">
                        <button class="button-ist-servive" type="button">Portfolio</button>
                      </div>  
                      <div class="content-right big service_card_overlay">
                             <h6><a href="#">web</a>  <span>Apr 06, 2021</span></h6>
                             <h3 class="text_dotted post_right_content color-w">Where to find clients and how to develop cool products</h3>
                          </div>
                    </div>
                  </div> -->
              <!-- card-3 -->
              <!-- <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="service-cards post-right mt-5">
                      <img class="service-cards-img" src="{% static '/img/images/post_img3.png' %}">
                      <div class="our-service-buttons">
                        <button class="button-ist-servive" type="button">Portfolio</button>
                        <button class="button-ist-servive ms-2" type="button">Business</button>
                      </div>  
                      <div class="content-right big service_card_overlay">
                             <h6><a href="#">Corporate</a>  <span>Apr 06, 2021</span></h6>
                             <h3 class="text_dotted post_right_content color-w">If you want to learn more about design look at this</h3>
                          </div>
                    </div>
                  </div> -->
              <!-- card-4 -->
              <!-- <div class="col-md-6 col-lg-6 col-sm-12">
                    <div class="service-cards post-right mt-5">
                      <img class="service-cards-img" src="{% static '/img/images/post_img4.png' %}">
                      <div class="our-service-buttons">
                        <button class="button-ist-servive" type="button">Business</button>
                      </div>  
                      <div class="content-right big service_card_overlay">
                             <h6><a href="#">Corporate</a>  <span>Apr 06, 2021</span></h6>
                             <h3 class="text_dotted post_right_content color-w">Best 20 useful tools for people who like to spend time in drawing</h3>
                          </div>
                    </div>
                  </div>
                </div> -->

              <!-- <div class="row mt-3">
                  <div class="col">
                    <div class="blog-title d-flex align-items-center">
                        <svg width="50" height="1" viewBox="0 0 60 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <line y1="0.5" x2="60" y2="0.5" stroke="#A9AFC3"/>
                            </svg>
                        <h6 style="color: #A9AFC3" class="text-gray  m-0 ms-2">BLOG</h6>
                    </div>
                  </div>
                </div> -->

              <!-- <div class="row mt-2">
                    <div class="col-10 col-md-6">
                        <h1 class="text-white font-weight-600">Financial insights you can act on <span class="dot-bg">.</span></h1>
                    </div>
                    <div class="col">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-10 col-md-6">
                       <p class="text-gray">Subscribe today to get the daily dose of financial insights and investment-related articles to your inbox</p>
                    </div>
                    <div class="col">
                    </div>
                </div>
                <div class="row mt-2">
                    {% for object in object_list %}
                    <div class="col-5">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img class="img-fluid" src="{% static 'img/images/blog_default.png' %}" alt="">
                            </div>
                            <div class="blog-content">
                                <h6 class="text-white">{{ object.title }}</h6>
                                <p class="text-white">{{ object.date_modified }}</p>
                                <p>{{object.post_tags}}</p>
                                <a href="{% url 'blog_view' object.slug %}" class="">Read More</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div> -->
                <div id="bottom-sentinel">
                  <div class="loader" style="display:none;"></div>
                </div>
            </div>
          </div>
          <div class="tab-pane fade" id="blog-list-view" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
            {% if all_tags %}
            <ul class="tags_list ps-0 mt-4">
              {% for tag in all_tags %}
              <li class="tag_item my-2"><a href="?tags={{tag.name}}">{{tag.name}}</a></li>
              {% endfor %}
            </ul>
            {% endif %}
            <div class="table-responsive service-table">
              <table class="table ">
                <thead>
                  <tr class="thead_row">
                    <th class="table_head" scope="col">Name</th>
                    <th class="table_head" scope="col">Date Posted</th>
                    <th class="table_head" scope="col">Link to blog</th>
                  </tr>
                </thead>
                <tbody class="service-table-body" id="service-content-table-section">
                  {% for blog in queryset %}
                  <tr>
                    <td>{{blog.title}}</td>
                    <td>{{blog.created_at}}</td>
                    <td><a href="{% url 'blog_view' blog.slug %}">click here</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
      </div>
      
      <!-- ======= Footer ======= -->
      {% include 'includes/footer.html' %}
      <!-- End Footer -->
      
    </div>
  </div>
</div>

{% endblock %}
{% block script %}
<script src="{% static 'js/infinite.js' %}"></script>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    let bottomSentinel = document.querySelector("#bottom-sentinel");
    let scrollElement = document.querySelector("#blog-content-section");
    let baseUrl = "{% url 'blog_home' %}";
    attachInfiniteScroll(bottomSentinel, scrollElement, baseUrl);
  })
</script>




<script>
  loadAvailableBlogs = (url, searchID, divID) => {
    jQuery.ajax({
      url: url,
      data: {
        'search_id': searchID
      },
      success: function (data) {
        jQuery("#" + divID).html(data);

      }
    });
  }

  jQuery("#search-input").on('keyup', function () {
    searchID = jQuery('#search-input').val()
    url = "{% url 'blog-search' %}"
    $("#bottom-sentinel").remove();

    loadAvailableBlogs(url, searchID, 'blog-content-section')
  });
  jQuery("#search-button").on('click', function () {
    searchID = jQuery('#search-button').val()
    url = "{% url 'blog-search' %}"
    loadAvailableBlogs(url, searchID, 'blog-content-section')
  });
</script>
{% endblock %}