{% load static %}

<footer id="footer" class="footer">

    <div class="footer-top px-sm-0 px-3">
        <div class="container px-3">
            <div class="row gy-4">
                <div class="col-lg-1"></div>
                <div class="col-lg-3 col-md-12 footer-info">
                    <a href="{% url 'home' %}" class="logo d-flex align-items-center">
                        <img src="{%static 'img/images/Anahit-logo.png' %}" class="img-fluid" alt="">
                    </a>
                    <p class="text-grey">Copyright © 2021 Anahit.</p>
                </div>

                <div class="col-lg-2 col-sm-6 footer-links">
                    <h4>Working hours:</h4>
                    <ul>
                        <li>Mon - Fri: 9 am - 6 pm Sat, Sun: Holiday</li>
                    </ul>
                </div>

                <div class="col-lg-2 col-sm-6 footer-links">
                    <h4>Address:</h4>
                    <ul>
                        <li>27 Division St, New York, NY 10002, USA</li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                    <h4>Hit us up:</h4>
                    <p class="text-grey">
                        +1 845 631 78 49<br>
                        info@anahit.com<br>
                    </p>
                </div>

                <div class="col-lg-1"></div>

            </div>
        </div>
    </div>

</footer>
