{% extends "base.html" %}
{% load static %}
{% load socialaccount %}



{% block content %}
<div class="">
    <div class="not-found-section py-3">
        <div class="container">
            <div class="login_wrapper">
                <h5 class="sub_head text-grey text-end mb-5"><img src="{% static 'img/images/title-Line.png' %}"> Oops!</h5>
                <div class="text-center">
                  <h3 class="primary_head">OMG!<br class="mobile_hide" />You broke the site!</h3>
                  
                  <p class="finance_text text-grey mb-5">Don’t worry. It’s just 404 page not found.</p>
                  <p class="text_common text-grey mb-5">Please try Search or go back to <a href="{% url 'home' %}" class="orange_grnt_text">Homepage.</a></p>
                  <!-- <div class="error_search p-0">
                      <div class="form-outline">
                        <input id="search-input" type="text" class="search_post_field leave-form rounded-0 ps-0" placeholder="Search">
                        <button id="search-button" type="button" class="search_post_btn error_search_btn">
                          <img src="{% static 'img/images/search_icon.png' %}">
                        </button>
                      </div>
                </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Footer -->

{% endblock %}